#home {
    background: darkturquoise;
}

.navbar {
    background: darkturquoise;
}

.icon {
    width: 15%;
}

.single-service .icon {
    color: darkturquoise;
}

.single-service a {
    font-size: 1.5em;
}

.container h1:hover {
    background: -moz-linear-gradient(0deg, #40E0D0 0%, #00CED1 100%);
    background: -webkit-linear-gradient(0deg, #40E0D0 0%, #00CED1 100%);
    background: -ms-linear-gradient(0deg, #40E0D0 0%, #00CED1 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    


}

#icon {
    color: #00CED1;
}


.p1-gradient-color, .single-service a:hover, .footer-social a:hover i, .single-footer-widget .bb-btn {
    background: -moz-linear-gradient(0deg, #40E0D0 0%, #00CED1 100%);
    background: -webkit-linear-gradient(0deg, #40E0D0 0%, #00CED1 100%);
    background: -ms-linear-gradient(0deg, #40E0D0 0%, ##00CED1 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  

.skillbar-bar {
    background: -moz-linear-gradient(0deg, #00CED1 0%, #017173 100%);
    background: -webkit-linear-gradient(0deg, #40E0D0 0%, #017173 100%);
    background: -ms-linear-gradient(0deg, #00CED1 0%, #017173 100%);

}
